<app-header></app-header>
  <!-- Tab bar -->
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar color="medium" slot="bottom">
      <ion-tab-button mode="ios" tab="queue">
        <ion-img src="../assets/images/alerts.png" ></ion-img>
        <ion-label>New Order</ion-label>
      </ion-tab-button>
      <ion-tab-button mode="ios" tab="cook">
        <ion-img src="../assets/images/campaign.png" ></ion-img>
        <ion-label>Cooking</ion-label>
      </ion-tab-button>
      <ion-tab-button mode="ios" tab="dispatch">
        <ion-img src="../assets/images/engage.png" ></ion-img>
        <ion-label>Delivered</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>