<ion-header>
  <ion-toolbar>
    <ion-title>billing</ion-title>
  </ion-toolbar>
</ion-header>


<ng-container *ngIf="showCategory && !showPayment && !showBill && !showDualPayment">

  <ion-content>
    <ion-item lines="full">
      <ionic-selectable placeholder="Select Food Category" [(ngModel)]="selectedCategory" [items]="categoryList" itemValueField="category_id"
        itemTextField="name" [canSearch]="false" (onChange)="categoryChange($event)" headerColor="danger">
  
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close-circle"></ion-icon>
        </ng-template>
  
        <ng-template ionicSelectableTitleTemplate>
          Select Food Category
        </ng-template>
  
      </ionic-selectable>
    </ion-item>
    <ng-container *ngIf="subCategoryList.length; else elseBlock">

      <ion-list mode="ios" class="top-margin" >
        <ng-container *ngFor="let item of subCategoryList">
          <ion-item>
            <ng-container *ngIf="!item.showIncrement">
              <ion-button shape="block" fill="outline" slot="end" color="tertiary" (click)="showEdit(item)"> ADD +
              </ion-button>
            </ng-container>
            <ng-container *ngIf="item.showIncrement">
              <ion-text slot="end" class="flex_row">
                <button class="button icon ion-minus-circled red" (click)="decrement(item)">
                  <ion-icon name="remove-circle-outline" color="tertiary"></ion-icon>
                </button>
                <p>{{item.count}}</p>
                <button class="button icon ion-plus-circled green" (click)="increment(item)">
                  <ion-icon name="add-circle-outline" color="tertiary"></ion-icon>
                </button>
              </ion-text>
              <!-- <ion-button shape="block"  slot="end" color="tertiary">EDIT</ion-button> -->
            </ng-container>
            <ion-label class="ion-text-wrap">
              <ion-text>
                <p>{{item.name | titlecase}}</p>
                <p>&#x20B9; {{item.price}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ng-container>
    
      </ion-list>
    </ng-container>
    <ng-template #elseBlock>
      <ion-col>
        <ion-text color="danger" class="ion-text-center">
          <p>{{emptyMessage}}</p>
        </ion-text>
      </ion-col>
      
    </ng-template>
  </ion-content>
  
  <ng-container *ngIf="total !== 0">
    <ion-footer align-title="center" class="bar-assertive" style="background: #f6f6f6;">
      <ion-row class="ion-justify-content-center ion-margin-bottom" style="background: #f6f6f6;">
        <ion-col size="6" >
          <ion-item lines="none" style="--background: #f6f6f6;">
  
            <h4 style="color: #2c3847;">{{item}} item(s)  </h4>
            <ion-icon [name]="arrowClass" style="margin-top:6px;margin-left:4px;" (click)="toggledropDown()"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="6" >
          <ion-item lines="none" style="--background: #f6f6f6;">
            <h4 slot="end" style="color: #2c3847;">&#x20B9; {{total}}.00</h4>
          </ion-item>
        </ion-col>

          <ion-col size="12" *ngIf="showDropDown">
            <ion-list mode="ios" class="top-margin">
              <ng-container *ngFor="let item of selectedItems">
                <ion-item style="--background: #f6f6f6;">
  
                  <ion-icon name="remove-circle-outline" color="tertiary" (click)="decrementSelectedItem(item)"></ion-icon>
                  &nbsp;<p style="font-size:14px" class="ion-text-wrap"><B>{{item.count}}</B> {{item.name}}</p>&nbsp;
                  <ion-icon name="add-circle-outline" color="tertiary" (click)="incrementSelectedItem(item)"></ion-icon>
                   <ion-icon slot="end" name="trash" color="danger" (click)="deleteSelectedItem(item)"></ion-icon>
                </ion-item>
             </ng-container>
              </ion-list>
           </ion-col>

        <ion-col size="12" class="pl-3">
          <ion-button strong expand="block" mode="ios" color="tertiary" (click)="togglePayment()">
            Add Payment Details
          </ion-button>
        </ion-col>
  
      </ion-row>
    </ion-footer>
  </ng-container>
</ng-container>



<!-- Payment Method -->
<ng-container *ngIf= "showPayment && !showCategory && !showBill && !showDualPayment">
  <ion-content>


    <ion-row class="ion-text-center ion-padding-horizontal">
      <ion-col  style="color: #2c3847;"><h4><ion-icon name="arrow-back" size="large" class="ion-float-start" (click)="toggleCategory()"></ion-icon>Add Payment Details</h4></ion-col>
  </ion-row>
  

<ion-row class=" ion-padding-horizontal">
    <ion-col  style="color: #2c3847;">
      <ion-item>
        <ion-label>Dual Payment</ion-label>
        <ion-toggle [(ngModel)]="dual_payment" (ionChange)="onDualChange()"></ion-toggle>
      </ion-item>
    </ion-col>
</ion-row>
  
  <ion-list>
      <ion-item mode="ios" lines="full" >
          <ion-label mode="ios"  position="stacked" style="color: #2c3847;"> Name</ion-label>
          <ion-input type="text" placeholder="" [(ngModel)]="name" name="customer"></ion-input>
      </ion-item>
  
  
      <!-- <ion-item mode="ios" lines="full" >
          <ion-label mode="ios"  position="stacked" style="color: #2c3847;">Email Address (optional)</ion-label>
          <ion-input type="email" placeholder="" ></ion-input>
      </ion-item> -->
  
      <ion-item mode="ios" lines="full" >
          <ion-label mode="ios"  position="stacked" style="color: #2c3847;">Whatsapp Number</ion-label>
          <ion-input type="text" inputmode="numeric" placeholder="" maxlength="12" [(ngModel)]="phone" name="phone"></ion-input>
      </ion-item>
      <ion-item mode="ios" lines="full" >
        <ion-label mode="ios"  position="stacked" style="color: #2c3847;">Alternative Mobile Number (Optional)</ion-label>
        <ion-input type="text" inputmode="numeric" placeholder="" maxlength="12" [(ngModel)]="altPhone" name="phone2"></ion-input>
    </ion-item>
  
      <ion-item mode="ios" lines="full" >
        <ion-label mode="ios"  position="stacked"style="color: #2c3847;" >Address (optional) </ion-label>
        <ion-input type="text" placeholder="" [(ngModel)]="address" name="address"></ion-input>
    </ion-item>

     
  <ion-item mode="ios" lines="full" >
    <ion-label mode="ios"  position="stacked" style="color: #2c3847;">Mode</ion-label>
    <ionic-selectable  [(ngModel)]="selectedDeliveryMode" [items]="mode" itemValueField="id"
    itemTextField="name" [canSearch]="true" (onChange)="modeChange($event)" headerColor="danger">
  
    <ng-template ionicSelectableCloseButtonTemplate>
      <ion-icon name="close-circle"></ion-icon>
    </ng-template>
  
    <ng-template ionicSelectableTitleTemplate>
      Select Delivery Mode
    </ng-template>
  
  </ionic-selectable>
  </ion-item>
<ng-container *ngIf="!dual_payment">

  <ng-container *ngIf="!netBanking ">
    <ion-item mode="ios" lines="full">
        <ion-label mode="ios"  position="stacked" style="color: #2c3847;">Payment Option </ion-label>
        <ionic-selectable  [(ngModel)]="selectedPaymentMode" [items]="payment" itemValueField="id"
        itemTextField="name" [canSearch]="true" (onChange)="paymentChange($event,'payment_single')" headerColor="danger">
    
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close-circle"></ion-icon>
        </ng-template>
    
        <ng-template ionicSelectableTitleTemplate>
          Select Payment Option
        </ng-template>
    
      </ionic-selectable>
    </ion-item>
  </ng-container>
  
  <ng-container *ngIf="netBanking">
      <ion-item mode="ios" lines="full" >
        <ion-label mode="ios"  position="stacked"style="color: #2c3847;" >Payment Option</ion-label>
        <ion-input type="text" placeholder=""  readonly>Net Banking</ion-input>
    </ion-item>
  </ng-container>
</ng-container>
<ng-container *ngIf="dual_payment">
    <ion-item mode="ios" lines="full">
        <ion-label mode="ios"  position="stacked" style="color: #2c3847;">Payment Option 1</ion-label>
        <ionic-selectable  [(ngModel)]="selectedPaymentMode_1" [items]="payment" itemValueField="id"
        itemTextField="name" [canSearch]="true" (onChange)="paymentChange($event,'payment_1')" headerColor="danger">
    
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close-circle"></ion-icon>
        </ng-template>
    
        <ng-template ionicSelectableTitleTemplate>
          Select Payment Option
        </ng-template>
    
      </ionic-selectable>
    </ion-item>
    <ion-item mode="ios" lines="full">
        <ion-label mode="ios"  position="stacked" style="color: #2c3847;">Payment Option 2</ion-label>
        <ionic-selectable  [(ngModel)]="selectedPaymentMode_2" [items]="payment" itemValueField="id"
        itemTextField="name" [canSearch]="true" (onChange)="paymentChange($event,'payment_2')" headerColor="danger">
    
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close-circle"></ion-icon>
        </ng-template>
    
        <ng-template ionicSelectableTitleTemplate>
          Select Payment Option
        </ng-template>
    
      </ionic-selectable>
    </ion-item>

</ng-container>
  
  
 
  
  
  </ion-list>
  </ion-content>
  <ion-footer align-title="center" class="bar-assertive" style="background: #f6f6f6;">
    <ion-row class="ion-justify-content-center ion-margin-bottom" style="background: #f6f6f6;">
      <ng-container *ngIf="total !== 0">

        <ion-col size="6" >
          <ion-item lines="none" style="--background: #f6f6f6; ">
  
            <h4 style="color: #2c3847;">{{item}} item(s)</h4>
            <ion-icon [name]="arrowClass" style="margin-top:6px;margin-left:4px;" (click)="toggledropDown()"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item  lines="none" style="--background: #f6f6f6; ">
            <ng-container *ngIf="!dual_payment">

              <ng-container *ngIf="!netBanking">
                <h4 slot="end" style="color: #2c3847;">&#x20B9; {{total}}.00</h4>
              </ng-container>
              <ng-container *ngIf="netBanking">
                <ion-item mode="ios" lines="full" style="border:1px solid black">
                  <ion-label mode="ios"  position="stacked" style="color: #2c3847;" >Add Total</ion-label>
                  <ion-input  inputmode="numeric" placeholder="0.00" [(ngModel)]="totalInput" name="tti"></ion-input>
              </ion-item>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="dual_payment">
              <h4 slot="end" style="color: #2c3847;">&#x20B9; {{total}}.00</h4>
            </ng-container>

          </ion-item>
        </ion-col>
        <ion-col size="12" *ngIf="showDropDown">
          <ion-list mode="ios" class="top-margin">
            <ng-container *ngFor="let item of selectedItems">
              <ion-item style="--background: #f6f6f6;">
  
                <ion-icon name="remove-circle-outline" color="tertiary" (click)="decrementSelectedItem(item)"></ion-icon>
                &nbsp;<p style="font-size:14px" class="ion-text-wrap"><B>{{item.count}}</B> {{item.name}}</p>&nbsp;
                <ion-icon name="add-circle-outline" color="tertiary" (click)="incrementSelectedItem(item)"></ion-icon>
                 <ion-icon slot="end" name="trash" color="danger" (click)="deleteSelectedItem(item)"></ion-icon>
              </ion-item>
           </ng-container>
            </ion-list>
         </ion-col>
      </ng-container>
       <ng-container  *ngIf="total === 0">

         <ion-col size="12" >
           <ion-item style="--background: #f6f6f6;">

             <p style="color:#e3402d;" class="ion-text-center">Please add Items to generate a bill</p> 
           </ion-item>
         </ion-col>
       </ng-container>
       <ng-container  *ngIf="formError">
        <ion-col size="12" >
          <ion-item style="--background: #f6f6f6;">

            <p style="color:#e3402d;" class="ion-text-center">{{message}}</p> 
          </ion-item>
        </ion-col>
      </ng-container>
      <ion-col size="6">
        <ion-button strong expand="block" mode="ios" color="success" fill="outline" (click)="toggleCategory()">
          Add Item
        </ion-button>
      </ion-col>
      <ng-container *ngIf="!dual_payment">

        <ion-col size="6" >
          <ion-button strong expand="block" mode="ios" color="tertiary" (click)="checkValidation()" [disabled]="total === 0">
            Generate Bill
          </ion-button>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="dual_payment">
        <ion-col size="6" >
          <ion-button strong expand="block" mode="ios" color="tertiary" (click)="toggleSplitAmount()" [disabled]="total === 0">
            Split Bill Amount
          </ion-button>
        </ion-col>
      </ng-container>

    </ion-row>
  </ion-footer>

  

</ng-container>


<!-- Amount Split for dual payment -->
<ng-container *ngIf= "!showPayment && !showCategory && !showBill && showDualPayment">
  <ion-content>
    
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <p>{{this.selectedPaymentMode_1?.name}}</p>
      </ion-col>
      <ion-col size="6">
        <ion-item mode="ios" lines="full" style="border:1px solid black">
          <ion-label mode="ios"  position="stacked" style="color: #2c3847;" >Split Amount</ion-label>
          <ion-input  inputmode="numeric" placeholder="0.00" [(ngModel)]="split_amount_1" name="tti"></ion-input>
      </ion-item>
      </ion-col>
      <ion-col size="6"  class="ion-text-center">
        <p>{{this.selectedPaymentMode_2?.name}}</p>
      </ion-col>
      <ion-col size="6">
        <ion-item mode="ios" lines="full" style="border:1px solid black">
          <ion-label mode="ios"  position="stacked" style="color: #2c3847;" >Split Amount</ion-label>
          <ion-input  inputmode="numeric" placeholder="0.00" [(ngModel)]="split_amount_2" name="tti"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
  </ion-content>
  <ion-footer align-title="center" class="bar-assertive" style="background: #f6f6f6;">
    <ion-row class="ion-justify-content-center ion-margin-bottom" style="background: #f6f6f6;">
      <ng-container *ngIf="total !== 0">

        <ion-col size="6" >
          <ion-item lines="none" style="--background: #f6f6f6; ">
  
            <h4 style="color: #2c3847;">{{item}} item(s)</h4>
            <ion-icon [name]="arrowClass" style="margin-top:6px;margin-left:4px;" (click)="toggledropDown()"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item  lines="none" style="--background: #f6f6f6; ">
            <ng-container *ngIf="!dual_payment">

              <ng-container *ngIf="!netBanking">
                <h4 slot="end" style="color: #2c3847;">&#x20B9; {{total}}.00</h4>
              </ng-container>
              <ng-container *ngIf="netBanking">
                <ion-item mode="ios" lines="full" style="border:1px solid black">
                  <ion-label mode="ios"  position="stacked" style="color: #2c3847;" >Add Total</ion-label>
                  <ion-input  inputmode="numeric" placeholder="0.00" [(ngModel)]="totalInput" name="tti"></ion-input>
              </ion-item>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="dual_payment">
              <h4 slot="end" style="color: #2c3847;">&#x20B9; {{total}}.00</h4>
            </ng-container>

          </ion-item>
        </ion-col>
        <ion-col size="12" *ngIf="showDropDown">
          <ion-list mode="ios" class="top-margin">
            <ng-container *ngFor="let item of selectedItems">
              <ion-item style="--background: #f6f6f6;">
  
                <ion-icon name="remove-circle-outline" color="tertiary" (click)="decrementSelectedItem(item)"></ion-icon>
                &nbsp;<p style="font-size:14px" class="ion-text-wrap"><B>{{item.count}}</B> {{item.name}}</p>&nbsp;
                <ion-icon name="add-circle-outline" color="tertiary" (click)="incrementSelectedItem(item)"></ion-icon>
                 <ion-icon slot="end" name="trash" color="danger" (click)="deleteSelectedItem(item)"></ion-icon>
              </ion-item>
           </ng-container>
            </ion-list>
         </ion-col>
      </ng-container>
       <ng-container  *ngIf="total === 0">

         <ion-col size="12" >
           <ion-item style="--background: #f6f6f6;">

             <p style="color:#e3402d;" class="ion-text-center">Please add Items to generate a bill</p> 
           </ion-item>
         </ion-col>
       </ng-container>
       <ng-container  *ngIf="formError">
        <ion-col size="12" >
          <ion-item style="--background: #f6f6f6;">

            <p style="color:#e3402d;" class="ion-text-center">{{message}}</p> 
          </ion-item>
        </ion-col>
      </ng-container>
      <ion-col size="6">
        <ion-button strong expand="block" mode="ios" color="success" fill="outline" (click)="toggleCategory()">
          Add Item
        </ion-button>
      </ion-col>
      <ng-container>

        <ion-col size="6" >
          <ion-button strong expand="block" mode="ios" color="tertiary" (click)="checkValidation()" [disabled]="total === 0">
            Generate Bill
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-footer>
</ng-container>



<!-- Bill -->
<ng-container *ngIf= "showBill && !showPayment && !showCategory">
  <ion-content >
    <div id="bill" style="width:100%;padding:5px; background-color:#fecc36" *ngIf="billDetail">
        <div>
         <div  sytle="color:black">
            <h4 style="text-align:center; font-weight: bolder;">LOVE &#10084;&#65039; DESI CHINESE</h4>
            <p style="text-align:center;font-size: 10px;">{{branchDetail?.branch_address}}
                     <br><span style="font-weight: bold">All Days Open {{branchDetail?.branch_start_timing}} to {{branchDetail?.branch_end_timing}}</span>
                     <br>lovedesichinese@gmail.com
                     <br><span style="font-size:12px;font-weight: bolder;">
                      {{branchDetail?.branch_phone}}
                    </span>
            </p>
          </div>
       </div>
       <!-- <div style="display:inline-block;width:100%;border-bottom:1px solid grey;height:33px;">
        <div style="text-align:left">
          <p style="font-size:11px"><span style="font-weight: bold;">Token No.</span>: {{billDetail.token_id}}</p>
        </div>
       </div> -->
       <div style="display:inline-block;width:50%;border-bottom:1px solid grey;height:33px;">
        <div style="text-align:left">
          <p style="font-size:11px"><span style="font-weight: bold;">Bill No.</span>: {{billDetail.bill_id}}</p>
        </div>
       </div>
       <div style="display:inline-block; width:50% ;border-bottom:1px solid grey;height:33px;">
        <div style="text-align:right">
          <p style="font-size:11px"><span style="font-weight: bold;">Date</span>: {{formattedDate}}</p>
        </div>
       </div>
       <div style="border-bottom:1px dotted black;height:14px;">
        <p style="font-size:11px"><span style="font-weight: bold;">Name</span>: {{billDetail.customer_name}}</p>
       </div>
       <div style="border-bottom:1px dotted black;height:14px;">
        <p style="font-size:11px"><span style="font-weight: bold;">Phone</span>: {{billDetail.customer_phone}}</p>
       </div>
       <div style="border-bottom:1px dotted black;height:14px;">
        <p style="font-size:11px"><span style="font-weight: bold;">Address</span>: {{billDetail.customer_address?billDetail.customer_address: ''}}</p>
       </div>
       <div style="height:14px;">
        <p style="font-size:11px"><span style="font-weight: bold;">Delivery Mode</span>: {{billDetail.delivery_mode}}</p>
       </div>
       <div style="display:inline-block;width:59%;border:1px solid grey;height:25px;margin-left:1%">
       <p style="text-align:center;font-weight:bold;font-size:11px;">
        Item
       </p>
       </div>
       <div style="display:inline-block;width:19%;border:1px solid grey;height:25px">
        <p style="text-align:center;font-weight:bold;font-size:11px;">
         Qnt
        </p>
        </div>
        <div style="display:inline-block;width:19%;border:1px solid grey;height:25px">
          <p style="text-align:center;font-weight:bold;font-size:11px;">
           Price
          </p>
          </div>
          <!-- table -->
          <ng-container *ngFor="let item of billDetail.products">

            <div style="display:inline-block;width:59%;border:1px solid grey;height:25px;margin-left:1%">
              <p style="text-align:center;font-size:11px;">
               {{item.food_name}}
              </p>
              </div>
              <div style="display:inline-block;width:19%;border:1px solid grey;height:25px">
               <p style="text-align:center;font-size:11px;">
                {{item.quantity}}
               </p>
               </div>
               <div style="display:inline-block;width:19%;border:1px solid grey;height:25px">
                 <p style="text-align:center;font-size:11px;">
                  {{item.quantity * item.price}}
                 </p>
                 </div>
          </ng-container>
          <div style="display:inline-block;font-weight:bold;width:59%;font-size:11px;border:1px solid grey;height:25px;margin-left:1%">
            <p style="text-align:right;margin-right:1%">Total</p>
          </div>
          <div style="display:inline-block;font-weight:bold;width:38%;font-size:11px;border:1px solid grey;height:25px;">
           <p style="text-align:center">Rs {{billDetail.total_price - service_charge_amount - cgst_amount - sgst_amount}}</p>
         </div>
        
          <ng-container *ngIf="selectedDeliveryMode?.name === 'Dine-in' || selectedDeliveryMode?.name === 'Dine-In'">
            <div style="display:inline-block;width:59%;font-size:11px;border:1px solid grey;height:25px;margin-left:1%">
              <p style="text-align:right;margin-right:1%">Service charges ( {{discount}} %) </p>
            </div>
            <div style="display:inline-block;width:38%;font-size:11px;border:1px solid grey;height:25px;">
             <p style="text-align:center">Rs {{service_charge_amount}}</p>
           </div>
            <div style="display:inline-block;width:59%;font-size:11px;border:1px solid grey;height:25px;margin-left:1%">
              <p style="text-align:right;margin-right:1%">CGST ( {{CGST}} %)</p>
            </div>
             <div style="display:inline-block;width:38%;font-size:11px;border:1px solid grey;height:25px;">
             <p style="text-align:center">Rs {{cgst_amount}}</p>
             </div>
             <div style="display:inline-block;width:59%;font-size:11px;border:1px solid grey;height:25px;margin-left:1%">
              <p style="text-align:right;margin-right:1%">SGST ( {{SGST}} %)</p>
            </div>
            <div style="display:inline-block;width:38%;font-size:11px;border:1px solid grey;height:25px;">
              <p style="text-align:center">Rs {{sgst_amount}}</p>
            </div>
          </ng-container>
         <div style="display:inline-block;font-weight:bold;width:59%;font-size:11px;border:1px solid grey;height:25px;margin-left:1%">
           <p style="text-align:right;margin-right:1%">Grand Total</p>
         </div>
         <div style="display:inline-block;font-weight:bold;width:38%;font-size:11px;border:1px solid grey;height:25px;">
          <p style="text-align:center">Rs {{billDetail.total_price}}</p>
        </div>
        <ng-container *ngIf="!dual_payment">

          <div style="display:inline-block;font-weight:bold;width:59%;font-size:11px;border:1px solid grey;height:25px;margin-left:1%">
            <p style="text-align:right;margin-right:1%">Pay Mode</p>
          </div>
          <div style="display:inline-block;font-weight:bold;width:38%;font-size:11px;border:1px solid grey;height:25px;">
            <p style="text-align:center">{{billDetail.payment_mode_1}}</p>
          </div>
        </ng-container>
        <ng-container *ngIf="dual_payment">

          <div style="display:inline-block;font-weight:bold;width:59%;font-size:11px;border:1px solid grey;height:25px;margin-left:1%">
            <p style="text-align:right;margin-right:1%">Pay Mode 1</p>
          </div>
          <div style="display:inline-block;font-weight:bold;width:38%;font-size:11px;border:1px solid grey;height:25px;">
            <p style="text-align:center">{{billDetail.payment_mode_1}}-{{split_amount_1}}</p>
          </div>
          <div style="display:inline-block;font-weight:bold;width:59%;font-size:11px;border:1px solid grey;height:25px;margin-left:1%">
            <p style="text-align:right;margin-right:1%">Pay Mode 2</p>
          </div>
          <div style="display:inline-block;font-weight:bold;width:38%;font-size:11px;border:1px solid grey;height:25px;">
            <p style="text-align:center">{{billDetail.payment_mode_2}}-{{split_amount_2}}</p>
          </div>
        </ng-container>

         <div style="width:100%;;margin-left:1%">
          <p style="font-size:11px;"><b>#</b> {{branchDetail?.footer_1}}</p>
          <p style="font-size:11px;"><b>#</b> {{branchDetail?.footer_2}}</p>
          <p style="font-size:11px;"><b>#</b> {{branchDetail?.footer_3}}</p>
         </div>
         <div>
           <p style="text-align: center;"><b>Thank You Visit Again.</b></p>
       </div>
      
    </div>
  </ion-content>

    <ion-footer align-title="center" class="bar-assertive" style="background: #f6f6f6;">
      <ion-row>
        <ion-col size="6" class="pl-3">
          <ion-button strong expand="block" mode="ios" fill="outline" color="tertiary" (click)="togglePayment()">
            Edit Bill
          </ion-button>
        </ion-col>
        <ion-col size="6" class="pl-3">
          <ion-button strong expand="block" mode="ios" color="success" (click)="createBill(billDetail)">
            Print Bill
          </ion-button>
        </ion-col>
  
      </ion-row>
    </ion-footer>
</ng-container>





